<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/assets/css/details.css">
        <title>Détails plats</title>
    </head>
    <body>
        <div class="container">
            <div class="menu">
                <a href='/menu'>Menus</a>
            </div>
        </div>
        <article>
            <h1><%= plat.Nom %></h1>
            <img class="img" src="/assets/Images/<%= plat.Image %>" alt="<%= plat.BreveDescription %>"/>
            <h2>Description:</h2>
            <p><%= plat.Description %></p>
            <h2>Prix:</h2>
            <p><%= plat.Prix %>€</p>
            <p><%= plat.Allergenes %></p>
        </article>
    </body>
</html>